* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  a {
    text-decoration: none;
    color: unset;
  }
}

.right {
  float: right;
}

.left {
  float: left;
}

.clear {
  clear: both;
}

.clearfix {
  overflow: auto;
}

.header {
  height: 100px;
  background-color: #FFFFFF;
  border-bottom: 1px solid lightgrey;

  ul li {
    display: inline-block;
  }

  .logo {
    color: #E56D2C;
    font-size: 30px;
  }

  .searchbar {
    height: 25px;
  }

    input {
      height: 27px;
      width: 315px;
      margin-left: 10px;
    }

  .searchButton {
    margin-left: -5px;
}

    button {
      background: #5DAFC8;
      color: white;
      border-bottom-right-radius: 6px;
      border-top-right-radius: 6px;
      font-size: 12px;
      padding: 5px;
      width: 64px;
      height: 24px;
      border: 1px solid #5DAFC8;
    }

}

.rightHeader {
  margin-right: 3.5%;

  .signIn li{
    border: 2px solid #5DAFC8;
    border-radius: 2px
  }

  ul {
    padding: 0px;

    li {
      margin-left: 19px;
      font-size: 12px;
    }
  }
}

body {
  background-color: #FAF9F5;
}

.menu {
  height: 50px;
  background-color: #FFFFFF;
  overflow: auto;
  border-top: 1px solid lightgrey;

  ul {
    margin: 7px 0px;
  }

  ul li {
    display: inline-block;
    list-style: none;
    font-size: 12px;
    margin: 0px 10px 0px 0px;
  }
}

.resultsInfo {
  width: 25%;
  height: 50px;
  float: left;

  ul {
    padding: 0px;
  }

  li {
    list-style: none;
  }
}

.contInfo {
  height: 50px;
  width: 75%;
  float: left;
  padding: 0px 5%;

  ul {
    list-style: none;
    padding: 0px;
  }
}

.sideBar {
  background-color: #FFFFFF;
  width: 25%;

  ul li {
    list-style: none;
  }
}

.product[title]:hover:after {
  z-index: -1;
}

.productsCont {
  width:75%;
  padding: 0px 5%;

  .product {
    width: 201px;
    border: 1px solid lightgrey;
    display: inline-block;
    margin: 5px 2.5px 5px 2.5px;
    background-color: #FFFFFF;
    position: relative;

    .icon1 {
      width: 20px;
      float: right;
      margin-left: 150px;
      margin-top: 5px;
      position: absolute;
      visibility: hidden;
    }

    .icon2 {
      width: 20px;
      float: right;
      margin-left: 175px;
      margin-top: 5px;
      position: absolute;
      visibility: hidden;

    }

    p {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      font-size: 10px;
    }

    .price {
      color: #88BE55;
    }
  }

  .pImage {
    width: 199px;
    overflow: auto;
    img {
      width: 199px;

    }
  }

}


.footerMenu {
  margin-left: 25%;

  ul {
    display: inline-block;
    list-style: none;

  }
}

.lookingShops {
  margin-left: 25%;
}

.pageNum {
  margin-left: 25%;

  .numBox {
    display: inline-block;
  }
}
