* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }
  * a {
    text-decoration: none;
    color: unset; }

.right {
  float: right; }

.left {
  float: left; }

.clear {
  clear: both; }

.clearfix {
  overflow: auto; }

.header {
  height: 100px;
  background-color: #FFFFFF; }
  .header ul li {
    display: inline-block; }
  .header .logo {
    color: #E56D2C;
    font-size: 30px; }

body {
  background-color: #FAF9F5; }

.menu {
  height: 50px;
  background-color: #FFFFFF; }
  .menu ul li {
    display: inline-block;
    list-style: none; }

.resultsInfo {
  width: 25%;
  height: 50px;
  float: left; }
  .resultsInfo ul {
    padding: 0px; }
  .resultsInfo li {
    list-style: none; }

.contInfo {
  height: 50px;
  width: 75%;
  float: left;
  padding: 0px 5%; }
  .contInfo ul {
    list-style: none;
    padding: 0px; }

.sideBar {
  background-color: #FFFFFF;
  width: 25%; }
  .sideBar ul li {
    list-style: none; }

.productsCont {
  width: 75%;
  padding: 0px 5%; }
  .productsCont .product {
    width: 201px;
    border: 1px solid lightgrey;
    display: inline-block;
    margin: 5px 2.5px 5px 2.5px;
    background-color: #FFFFFF; }
    .productsCont .product p {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      font-size: 10px; }
    .productsCont .product .price {
      color: #88BE55; }
  .productsCont .pImage {
    width: 199px;
    overflow: auto; }
    .productsCont .pImage img {
      width: 199px; }

.footerMenu {
  margin-left: 25%; }
  .footerMenu ul {
    display: inline-block;
    list-style: none; }

.lookingShops {
  margin-left: 25%; }

.pageNum {
  margin-left: 25%; }
  .pageNum .numBox {
    display: inline-block; }
